<section class="container" style="margin-top: 2%;background-image: url('assets/media/images/empire-state.jpg');background-size: cover;background-position: center;background-repeat: no-repeat;">
		<div class="container pd-5" style="text-align: center;">
			<h1 class="heading-2 base-font t-white" style="text-shadow: #00000066 0px 0px 10px;">{{title.heading}}<br>
				<small>{{title.small}}</small>
			</h1>
		</div>
		<div class="container flex flex-center">
			<form action="" class="form form-font coral t-white" style="padding: 4% 10%;border-radius: 1%;">
				<div class="flex flex-row">
					<div class="flex flex-col pd-2">
						<label for="name">Nombre</label>
						<input type="text" name="name" placeholder="Nombre">
					</div>
					<div class="flex flex-col pd-2">
						<label for="">Apellido</label>
						<input type="text" name="lastname" placeholder="Apellido">
					</div>
				</div>
				<div class="flex-row">
					<div class="flex flex-col"></div>
					<div class="flex flex-col"></div>
				</div>
				<div class="flex-row">
					<div class="flex flex-col"></div>
					<div class="flex flex-col"></div>
				</div>
				<div class="flex-row">
					<div class="flex flex-col"></div>
					<div class="flex flex-col"></div>
				</div>
				<div class="flex-row">
					<div class="flex flex-col"></div>
					<div class="flex flex-col"></div>
				</div>
			</form>
		</div>
	</section>