<div class="container-1x {{content.img}}">
	<div class="flex flex-center flex-col pd-2">
	<h1 class="heading-2 base-font t-coral" style="text-align: center;">{{content.title}} <br>
		<small>{{content.small}}</small>
	</h1>
	<div class="container flex flex-row pd-4" style="justify-content: space-between;margin-left: 14%;">
		<figure class="flex flex-col flex-center" style="margin: 0;">
		<img src="{{content.svg.fb}}" alt="facebook" class="pd-4" style="width: 22%;">
		<span style="text-align: center;" class="base-font">{{content.networks.fb}}</span>
		</figure>
		<figure class="flex flex-col flex-center" style="margin: 0;">
		<img src="{{content.svg.ig}}" alt="instagram" class="pd-4" style="width: 22%;">
		<span style="text-align: center;" class="base-font">{{content.networks.ig}}</span>
		</figure>
		<figure class="flex flex-col flex-center" style="margin: 0;">
		<img src="{{content.svg.wp}}" alt="whatsapp" class="pd-4" style="width: 45%;">
		<span style="text-align: center;" class="base-font">{{content.networks.wp}}</span>
		</figure>
	</div>
	</div>
	<div class="container flex flex-row pd-2" style="margin-top: 4%;">
		<div class="device device-iphone-x" style="transform: scale(0.8);">
  <div class="device-frame">
    <img class="device-content" src="assets/devices.css/src/img/bg-00.jpg">
  </div>
  <div class="device-stripe"></div>
  <div class="device-header"></div>
  <div class="device-sensors"></div>
  <div class="device-btns"></div>
  <div class="device-power"></div>
</div>	
	</div>
</div>