<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Zellet</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<!-- AngularJs -->
	<script src="node_modules/angular/angular.js"></script>
	<!-- AngularRouter-->
	<script src="node_modules/angular-route/angular-route.js"></script>
	<!-- Google Muli Font -->
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<!-- Stylesheets -->
	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="assets/css/fonts/index.css">
	<link rel="stylesheet" href="assets/css/headings/index.css">
	<link rel="stylesheet" href="assets/css/colors/index.css">
	<link rel="stylesheet" href="assets/css/text-colors/index.css">
	<link rel="stylesheet" href="assets/css/paddinner/index.css">
	<link rel="stylesheet" href="assets/css/containers/index.css">
	<link rel="stylesheet" href="assets/css/flex/index.css">
	<link rel="stylesheet" href="assets/css/forms/index.css">
	<link rel="stylesheet" href="assets/css/buttons/index.css">
	<!-- Devices Stylesheet -->
	<link rel="stylesheet" href="assets/devices.css/dist/devices.css">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body ng-app="core">
	<div class="container">
	<header ng-controller="Header" style="position: fixed;z-index: 3;width: 100%;">
	<app-header></app-header>
	</header>
	<div ng-controller="formapp" style="margin-top: -2.6%">
	<form-app title="title" ng-click="changeheading()"></form-app>
	</div>
	<section class="container" ng-controller="Presentation">
		<div ng-repeat="banner in banners">
		<presentation content="banner"></presentation>
		</div>
	</section>
	<div class="container-1x flex flex row" style="background: #f4f2f6;">
	<div class="container pd-2">
		<figure>
			<img src="https://cdn.dribbble.com/users/729758/screenshots/4417466/eggspace_4_final_1x.png">
		</figure>
	</div>
	<div class="container pd-2">
		<h2 class="base-font t-black" style="text-align: center;">Próximamente, Tendremos eShop <br>
			<small>Podrá comprar en Zellet también</small></h2>
	</div>
	</div>
	<footer-app></footer-app>
</div>
	<!-- Directives -->
	<script src="assets/js/directives/header.js"></script>
	<script src="assets/js/directives/formapp.js"></script>
	<script src="assets/js/directives/presentation.js"></script>
	<script src="assets/js/directives/footerapp.js"></script>
	<!-- Controllers -->
	<script src="assets/js/controllers/Header.js"></script>
	<script src="assets/js/controllers/FormApp.js"></script>
	<script src="assets/js/controllers/Presentation.js"></script>
	<!-- Routes -->
	<script src="assets/js/routes/index.js"></script>
</body>
</html>