<footer class="container-1x t-white coral flex flex-row">
		<div class="container flex flex-col">
		<ul style="list-style-type: none;">
			<li>
				<span style="font-weight: bolder;" class="base-font">Vendemos de todo en: </span>
			</li>
			<li>
				<i class="fab fa-facebook-square"></i><span class="base-font"> Zellet Official</span>
			</li>
			<li>
				<i class="fab fa-instagram"></i><span class="base-font"> @zellet_of</span>
			</li>
			<li>
				<i class="fab fa-whatsapp"></i><span class="base-font"> +58-416795-2491</span>
			</li>
		</ul>
		</div>
		<div class="container flex flex-col base-font">
			<span>Powered by: </span>
			
		</div>
		<div class="container flex flex-col">
			
		</div>
	</footer>